*{
    background-color:rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
font-family:'sparten', sans-serif;
}
h1{
    font-size: 50px ;
    line-height: 64px ;
    color: #222;
    
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
    
h4{
    font-size: 20px;
    color:#222;
}
h6{
    font-weight: 700;
    font-size:20px;
}
p{
    font-size: 16px;
    color: #465b52;
  margin: 15px 0 20px 0;
 
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
img.logo{
    height: 95px;
    width: 80px;
    background-color: #e8ecff;
}
#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px ;
color: #1dafa5;
box-shadow: 0 5px 15px rgba(25, 133, 82, 0.06);
z-index: 999;
position: sticky;
top:0;
left: 0; 
}
ul{
color: #1dafa5;
}
#navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    background-color: transparent;
}
#navbar li a{
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.61);
    font-weight: 600;
   transition: 0.3s ease; 
}
#navbar li a:hover,
#navbar li a.active{
    color: #1dafa5;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #1dafa5;
position:absolute ;
bottom:-4px ;
left: 20px ;
}

#hero{
    background-image: url('hero1.png');
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 25% right 0% ;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #cce7d0;
    
}
#hero h1{
   color: #088178;
   background-color: #cce7d0;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h2{
    background-color: #cce7d0;
}
#hero p{
    background-color: #cce7d0;
}
#hero button{
    background-image: url('images/buttonsplash.jpg');
    background-color: transparent;
    color:#088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba( 0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba( 70, 62, 221, 0.1);
}
#feature .fe-box img{
    width: 100px;
    margin-bottom: 10px ;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    
}
#feature .fe-box:nth-child(2)  h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(2)  h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(2)  h6{
    background-color: #f6dbf6;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
    border-image: 4px;

}
footer h4{

padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
#mobile{
    display: none ;
    align-items: center;
}
 @media (max-width: 799px) {
    #navbar{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba( 0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
 }

 #navbar{
    margin-bottom: 25px;
 }
 #navbar.active{
    right: 0px; 
 }
#page-header{
    background-image: url('shopbanner.jpg');
    width: 100%;
    height: 40vh;
    background-size: contain ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 14px ;

}
#product1{
    text-align: center;
   
} 
#product1 .procontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
}
#product1 .pro{
    width: 14%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba( 0, 0, 0, 0.2);
    margin: 15px 0;
    transition:  0.3s ease;
    position: relative;
}
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba( 0, 0, 0, 0.06);
}
#product1 .pro img {
    width: 100%;
border-radius: 20px;
}
#product1 .pro .des {
    text-align: start;
    padding:  10px 0;
}
#product1 .pro .des span {
    color: #060606;
    font-size: 20px;

}
#product1.pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1.pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#prodetails .single-pro-image{
    width: 40%;
    height: 20%;
margin-right:  50px;}
#prodetails{
    display: flex;
    margin-top: 20px  ;
}
#prodetails  .single-pro-det{
    width: 50%;
    padding-top: 30px;
}
#prodetails  .single-pro-det h4{
    padding: 40px 0 20px 0;
}
#prodetails  .single-pro-det h2{
    font-size: 26px;
}
#prodetails  .single-pro-detselect{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-det input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 10px;
}
#prodetails .single-pro-det button{
    background-color: #088178;
    color: #fff;
    height: 10%;
    border: #060606;
    border-style:dashed;
}
#prodetails .single-pro-det span{
    line-height: 25px;
}